<!DOCTYPE html>
<html>
  <head>
    <title>Music</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <form action="<%= session_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Sign Out</button>
      </form>
    <% else %>
      <%=  %>
      <a href="<%= session_url %>">Sign In</a>
      <a href="<%= users_url %>">Sign Up</a>
    <% end %>
    
    <% if flash[:errors] %>
        <p><%= flash[:errors].join(", ") %></p>
      <% end %>

    <%= yield %>
  </body>
</html>
