<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <h2>Hello <%= @user.username %></h2>
      <%=  %>
    <% else %>
      <a href="new_user_url">Sign up</a>
      <p>or</p>
      <a href="new_session_url">Log in</a>
    <% end %>


    <%= yield %>

  </body>
</html>
